body {
  background-image: url("bg.png");
  background-size: cover; /* Faz a imagem cobrir a tela toda sem sobrar espaço */
  background-position: center; /* Centraliza a imagem */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  margin: 0;
}
.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%; /*Garante que mesmo que width ou height seja alterado, ele mantém a proporção*/
  background-color: white;
  border: solid purple;
}
h1 {
  font-family: sans-serif;
  color: white;
  text-shadow: 0 0 8px rgba(0, 0, 0, 1);
  margin-top: 20px;
}
h2 {
  font-family: sans-serif;
  background: linear-gradient(to right, #5950f7, #1ea4e9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  font-size: 15px;
  margin-top: -10px;
}
h3 {
  font-family: sans-serif;
  width: 80%;
  text-align: center;
  color: white;
  margin-top: 1px;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  margin-left: auto;
  margin-right: auto;
}

.insta {
  width: 50%;
  height: 60px;
  border-radius: 10px 10px 10px 10px;
  background: linear-gradient(to right, #7a166e, #0a1242);
  border: none;
  box-shadow: 0 0 0 2px #7a166e;
  display: flex;
  position: relative;
  padding-left: 20px;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: white;
  justify-content: center;
  padding-right: 10px;
  font-size: 20px;
  font-family: sans-serif;
  transition: all 0.3s ease;
}
.insta:hover {
  transform: scale(1.02);
  box-shadow:
    0 0 10px #d6249f,
    0 0 20px #d6249f;
}
.insta img {
  height: 50px;
  position: absolute;
  left: 12px;
}
.yt {
  width: 50%;
  height: 60px;
  border-radius: 10px 10px 10px 10px;
  background: linear-gradient(to right, #621236, #111237);
  border: none;
  box-shadow: 0 0 0 2px #621236;
  display: flex;
  position: relative;
  padding-left: 20px;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: white;
  justify-content: center;
  padding-right: 10px;
  font-size: 20px;
  font-family: sans-serif;
  margin-top: 20px;
  transition: all 0.3s ease;
}
.yt:hover {
  transform: scale(1.02);
  box-shadow:
    0 0 10px #ff0000,
    0 0 20px #ff0000;
}
.yt img {
  height: 50px;
  position: absolute;
  left: 12px;
}
